<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/signup}" th:method="POST" th:object="${newUser}">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}">

    <label for="username">Username:</label>
    <input type="text" id="password" name="password" th:field="*{password}">

    <button>Sign-up</button>
</form>
</body>
</html>